{
	"$schema": "node_modules/wrangler/config-schema.json",
	"name": "aka-web",
	"main": "src/index.ts",
	"compatibility_date": "2026-04-01",
	"compatibility_flags": ["nodejs_compat"],
	"observability": {
		"enabled": true
	},
	"upload_source_maps": true,
	"d1_databases": [
		{
			"binding": "aka",
			"database_name": "aka",
			"database_id": "..."
		}
	]
}
